.logo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    line-height: 50px;
  }
  #home li a{
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
  #home li a:hover{
    color:#c81717
  }
  .carousel-caption{
    top: 50%;
  }
  #display{
    font-size: 60px;
    font-weight: 800;
    border:3px solid white;
    font-family:'Times New Roman', Times, serif;
  }
  .mission-pic {
    background-color:beige;
    padding: 20px 30px 40px;
  }
  .vision{
    padding: 45px 30px 40px;
    background-color: beige;
  }
  #our{
    font-family: 'Tangerine', serif;
    font-size: 40px;
    color: green;
    font-weight:bolder;
    text-shadow: 6px 4px 4px rgb(216, 35, 171);
}
#what{
    text-align: center;
}
#social{
    text-align: center;
}
#par{
    text-align: center;
}