.garbage-form {
  width: 45%;
  height: 40% !important;
  margin-left: 40px;
  border-radius: 15px;
  background: rgb(0, 0, 0, 0.5);
  
}


label {
    
    margin-left:20px ;
}

.form-control {
    width: 220px;
    float: left;
    margin-left: 20px;
    
}

#constituency {
  
    margin-left: 15px;
    height: 35px;
    width: 220px;
    border: none;
    border-radius: 5px;
    
}
.waste {
    margin-left: 15px;
    height: 35px;
    width: 220px;
    border: none;
    border-radius: 5px;
}
.services {
     
    margin-top: 110px;
    margin-top: -70px;
}
#services-available {
    margin-left: 15px;
    height: 40px;
    width: 220px;
    border: none;
    border-radius: 5px;
}




   


